<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">

  <a class="navbar-brand" href="#">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/members">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/members/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/members/categories">Categories</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0" method="post" action="/logout?_method=DELETE">
      
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log out</button>
    </form>
  </div>
</div>
</nav>